.vscode
__pycache__

# Zip apps and similar, created and refreshed on demand
apps

# Python dependencies
scripts/__pypackages__/lib
config/pyrepl-deps.zip

# Executable wrappers for scripts
scripts/*.exe

# The executable wrappers themselves
tools/*.exe

# Pipx executable links
bin

# Directories managed by pipx
pipx
