.vscode

# Zip apps and similar, created and refreshed on demand
apps

# Executable wrappers for scripts
scripts/*.exe

# The executable wrappers themselves
tools/*.exe

# Pipx executable links
bin/*.exe

# Directories managed by pipx
logs
shared
venvs
